<template name="header">
	<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
	            	<span class="sr-only">Toggle navigation</span> 
	            	<span class="icon-bar"></span> 
	            	<span class="icon-bar"></span> 
	            	<span class="icon-bar"></span>
	            </button> 
	            <a class="navbar-brand" href="{{pathFor 'allNotes'}}">NiceNotes</a>
	        </div>

	        <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">
			    	{{> loginButtons}}
			    </ul>

	            <ul class="nav navbar-nav navbar-right">
	                {{#if currentUser}}
	                <li>
	                    <a href="{{pathFor 'createNote'}}"><span class="glyphicon glyphicon-pencil"></span> Create note</a>
	                </li>
	                {{/if}}
	            </ul>
	        </div>
	    </div>
	</nav>
</template>