<template name="sidebar">
	<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="{{pathFor 'dashboard'}}">My notes</a>
            </li>

            <li>
                <a href="{{pathFor 'createNote'}}">Create a note</a>
            </li>

            <li>
                <a href="#">Friends' notes</a>
            </li>

            <li>
                <a href="#">Shared notes</a>
            </li>

            <li>
                <a href="#">My tags</a>
            </li>
        </ul>
    </div>
</template>