<template name="notesList">
	<div class="row">
		<div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
		<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
    		{{> esInput index="notes" placeholder="Search..." class="form-control search-input" type="text" value=""}}
		</div>
		<div class="col-xs-1 col-sm-1 col-md-2 col-lg-2"></div>
	</div>

	{{#ifEsInputIsEmpty index="notes"}}
		<ul class="notes row">
			{{#each notes}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        		{{> note}}
            </div>
			{{/each}}
		</ul>
    {{/ifEsInputIsEmpty}}

    <ul class="notes row">
        {{#esEach index="notes"}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            {{> note}}
        </div>
        {{/esEach}}
    </ul>

    {{> esLoadMoreButton index="notes"}}

    {{#ifEsHasNoResults index="notes"}}
        <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}

    {{#ifEsIsSearching index="notes"}}
        {{> loading}}
    {{/ifEsIsSearching}}
</template>